body{
    cursor: none;
    font-family: 'Gothic A1', sans-serif;
}

#section01{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section01 .inner{
    width: 1860px;
    /*height: 0;*/
    height: 83vh;
    background: white;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    overflow:hidden;
    /*transition:all 1s;*/
}

#slider{
    width: 1300px;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    background: white;
    overflow:hidden;
    transition:all 1.5s cubic-bezier(1,-0.18, 0.25, 1);
}

#slider.full{
    transform:translate(-50%,-50%)scale(1.5);
}

#slider .slick-slide{
    margin: 0;
    outline:none;
}

#slider .slick-track{
    top: 55px;
}


#slider .slick-dots{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 999999;
}


#main_title{
    width: 1500px;
    height: 330px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    /*background: orange;*/
}

#main_title > div{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    z-index: -1;
    pointer-events: none;
}

#main_title > div.on{
    opacity: 1;
    z-index: 1;
    /*pointer-events: initial;*/
}

#main_title > div .line{
    /*width: 0;*/
    transition:all 1s;
    transform:scaleX(0);
    overflow:hidden;
    position: relative;
    top: -5px;
    width: 100%;
    height: 2px;
    background: #ffdcd1;
    opacity: 0.8;
}

#main_title > div.on .line{
    transform:scaleX(1);
}

#main_title > div.on .top > img{
    transform:translateY(0);
}

#main_title > div.on .middle > div > img{
    transform:translateY(0);
}

#main_title > div.on .bottom > img{
    transform:translateY(0);
}


#main_title .top > img{
    transform:translateY(150%);
    transition:all 0.8s;
}

#main_title .middle{
    display: flex;
    margin-bottom: 40px;
}

#main_title .middle > div{
    overflow:hidden;
}

#main_title .middle > div > img{
    transform:translateY(150%);
    transition:all 1s;
}

#main_title .bottom{
    overflow:hidden;
}

#main_title .bottom > img{
    transform:translateY(-150%);
    transition:all 1s;
}

#main_title .top > img{transition-delay:0.4s}
#main_title .middle > div:nth-child(1) img{transition-delay:0.6s}
#main_title .middle > div:nth-child(2) img{transition-delay:0.8s}
#main_title .middle > div:nth-child(3) img{transition-delay:1s}
#main_title .middle > div:nth-child(4) img{transition-delay:1.2s}
#main_title .bottom > img{transition-delay: 1.2s}


#main_title > div > div{
    display: flex;
    justify-content: center;
}


#main_title .top{
    overflow: hidden;
    justify-content: left;
    margin-bottom: 35px;
}

#main_title .middle{
    justify-content: space-between;
}


#main_title .bottom{
    position: relative;
    top: -40px;
}

#main_title .muse{
    /*width: 1250px;*/
}

#main_title .muse .middle{
    width: 1190px;
}

#main_title .muse .middle > div:nth-child(3){
    margin-top: 41px;
}

#main_title .muse .line{
    margin-top: -40px;
}

#main_title .faerie .middle{
    width: 1077px;
}

#main_title .gardener .middle{
    width: 1374px;
}

#main_title .oracle .middle{
    width: 1089px;
}

#main_title .queen .middle{
    width: 1527px;
}


#main_title .queen .line{
    top: -13px;
}

#main_title .queen .bottom{
    top: -50px;
}



.slick-dots{
    display: none !important;
    /*position: absolute;*/
    /*left: 50%;*/
    /*top: 50%;*/
}

#sub_title{
    width: 200px;
    height: 650px;
    position: absolute;
    left: 84px;
    bottom: 140px;
    /*background: lightpink;*/
    overflow: hidden;
    transform: translateX(0);
    opacity: 0;
    transition: opacity 1.2s ease;
    pointer-events: none;
}


#sub_title .sub_inner{
    width: 200px;
    height: 650px;
    transform: translateX(-100%);
    transition: transform 1.2s cubic-bezier(1, -0.10, 0.25, 1) 0.14s;
}

#sub_title.on{
    opacity: 1;
}

#sub_title.on .sub_inner{
    transform:translateX(0);
}


#nav{
    width: 10px;
    height: 230px;
    background: url("https://www.designnas.com/portfolio/bx-site/pandora/css/../imgs/main/nav_line.png")no-repeat center;
    position: absolute;
    right: 80px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
}


#nav.on{
    opacity: 1;
    transition: all 1s 1s;
}


#nav > li{
    width: 9px;
    height: 9px;
    background: url("https://www.designnas.com/portfolio/bx-site/pandora/css/../imgs/main/nav_off.png")no-repeat center;
    cursor: pointer;
}

#nav > li.on{
    background: url("https://www.designnas.com/portfolio/bx-site/pandora/css/../imgs/main/nav_on.png")no-repeat center;
}


#section01 .inner .last{
    position: absolute;
    left: 50%;
    bottom: 36px;
    transform: translate(-50%,-100%);
    transition: all 0.8s;
    opacity: 0;
}

#section01 .inner .last.on{
    opacity: 1;
    transform: translate(-50%,0);
    transition: all 0.8s 6.8s;
    }


#scroll {
    width: 12px;
    height: 209px;
    position: absolute;
    right: 47px;
    bottom: 0;
}



#scroll > div {
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.8s 7.2s;
    overflow: hidden;
}



#scroll > div.on{
    height: 209px;
}


/*#scroll > div{*/
/*    width: 12px;*/
/*    height: 209px;*/
/*    transform: scaleY(0);*/
/*    transform-origin: center top;*/
/*    !*background: red;*!*/
/*}*/

/*#scroll.on > div{*/
/*    transform: scaleY(1);*/
/*    transition: all 0.8s;*/
/*}*/


#sns{
    position: absolute;
    left: 80px;
    bottom: 20px;
    display: flex;
    transform: translateY(-210%);
    opacity: 0;
    z-index: -1;
}

#sns.on{
    transform: translateY(0);
    opacity: 1;
    z-index: 1;
    transition: all 1s 7.2s;
}

#sns > div:nth-child(2){
    position: relative;
    top: -2px;
}

#sns > div{
    margin-right: 30px;
}


#scroll_2{
    background: url("https://www.designnas.com/portfolio/bx-site/pandora/css/../imgs/main/scroll_2.png")no-repeat center;
    width: 19px;
    height: 164px;
    position: absolute;
    right: 73px;
    bottom: 0;
    opacity: 0;
}

#scroll_2.on{
    opacity: 1;
    transition: all 1s 1s;
}


#scroll_2 > div{
    width: 7px;
    height: 7px;
    margin: 4px auto;
    animation: scroll_move cubic-bezier(0.47, 0.06, 0.46, 1.08) 1.3s alternate infinite;
}


@keyframes scroll_move {
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(0,4px);
    }
}

@media screen and (max-width : 1200px) {
    #main_title > div.on{
        opacity: 0;
    }
}